/* common start */
/* common end */

/* header start here */
.box{
  margin-bottom: 5px;
  height: 100px;
  background-color: red;
}
/* header end here */

/* banner start here */
/* banner end here */

/* success start here */
/* success end here */

/* feature starts here */
/* feature end here */

/* footer starts here */
/* footer end here */